/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-overlay-pane {
    background-color: transparent !important; /* Asegúrate de que la sobreposición sea transparente */
  }
  
  .cdk-overlay-dark-backdrop, .cdk-overlay-backdrop {
    background-color: transparent !important;
  }
  .full-screen-modal .mat-dialog-container {
    background-color: transparent !important;
    box-shadow: none !important;
  }